@function max($numbers...) {
	@return m#{a}x(#{$numbers});
}

@function min($numbers...) {
	@return m#{i}n(#{$numbers});
}

@import "colors";
@import "bootstrap";


*{
 box-sizing: border-box;
 font-family: 'Nunito';
 font-weight: normal;
}

h1,h2,h3,h4,h5,h6,p{
	margin: 0;
}

body{
	font-weight: normal;
	position: relative;
	font-size: 14px;
	background-color: #E6E6E6;
	color: $text-standart;
}

.phone {
    font-weight: 600;
    color: $text-standart;
}
@media (max-width: 1360px){
    .phone {
        font-size: 18px;
    }   
}

.title{
	font-family: 'Balsamiq Sans';
	font-size: 54px;
	font-weight: 700;
	text-align: center;
	width: 100%;
	&-big{
		font-size: 68px;
		line-height: 74px;
		text-align: left;
	}
	&-small{
		font-size: 28px;
		line-height: 30px;
		font-weight: normal;
		text-align: left;
	}
}
.subtitle{
	font-size: 27px;
	line-height: 40px;
	&-small{
		font-size: 19px;
		line-height: 26px;
	}
}
.title,.subtitle{
	display: inline-block;
}
@media (max-width: 1360px){
	.title{
		&-big{
			font-size: 47px;
			line-height: 57px;
		}
	}
}
@media (max-width: 992px){
	.title{
		&-big{
			font-size: 37px;
		}
	}
	.subtitle{
		font-size: 19px;
		line-height: 26px;
	}
}
@media (max-width: 576px){
	.title{
		&-big{
			font-size: 28.5px;
			line-height: 35px;
		}
	}
}

/*end fancybox*/
@import "buttons";
@import "../../node_modules/slick-carousel/slick/slick.scss";
@import '../../node_modules/@fancyapps/fancybox/dist/jquery.fancybox';
@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/advantages';
@import 'blocks/learning';
@import 'blocks/manual';

@import 'blocks/footer';

@media (min-width: 1360px){
	.container{
		max-width: 1360px;
	}
}

.d-grid {
	display: grid !important;
}

input{
	border: none;
	&:focus{
		border: none;
		outline: none;
	}
}
button{
	border: none;
	&:focus{
		border: none;
		outline: none;
	}
}