@function max($numbers...) {
	@return m#{a}x(#{$numbers});
}

@function min($numbers...) {
	@return m#{i}n(#{$numbers});
}

@import "colors";
@import "bootstrap";


*{
 box-sizing: border-box;
 font-family: 'Nunito';
 font-weight: normal;
}

h1,h2,h3,h4,h5,h6,p{
	margin: 0;
}

body{
	font-weight: normal;
	position: relative;
	font-size: 14px;
	background-color: #E6E6E6;
	color: $text-standart;
}

.phone {
    font-weight: 600;
    color: $text-standart;
}
@media (max-width: 1360px){
    .phone {
        font-size: 18px;
    }   
}

.title{
	font-family: 'Balsamiq Sans';
	font-size: 54px;
	font-weight: 700;
	text-align: center;
	width: 100%;
	&-big{
		font-size: 68px;
		line-height: 74px;
		text-align: left;
	}
	&-small{
		font-size: 28px;
		line-height: 30px;
		font-weight: 700;
		text-align: left;
	}
	&-section{
		font-family: 'Balsamiq Sans';
		font-size: 54px;
		font-weight: bold;
	}
}
.subtitle{
	font-size: 27px;
	line-height: 40px;
	&-small{
		font-size: 19px;
		line-height: 26px;
	}
}
.title,.subtitle{
	display: inline-block;
}
@media (max-width: 1360px){
	.title{
		&-big{
			font-size: 47px;
			line-height: 57px;
		}
		
	}
}
@media (max-width: 992px){
	.title{
		&-big{
			font-size: 37px;
		}
		&-section{
			font-size: 54px;
		}
	}
	.subtitle{
		font-size: 19px;
		line-height: 26px;
	}
}
@media (max-width: 768px){
	.title{
		&-small{
			font-size: 29px;
		}
		&-section{
			font-size: 29px;
		}
	}
}
@media (max-width: 576px){
	.title{
		&-big{
			font-size: 28.5px;
			line-height: 35px;
		}
	}
}

.form-bg{
	&-white{
		background: #FFFFFF;
	}
}

.block-in-front {
	@media (max-width: 992px) {
		.form {
			.title {
				margin-bottom: 15px;
			}

			.subtitle {
				margin-bottom: 27px;
			}

			.form__input {
				margin-bottom: 30px;
			}

			.btn {
				margin-bottom: 27px;
			}

			.form__input {
				width: auto;
			}
		}
	}
}

.bg-darkblue {
	background-color: $bg-darkblue;
}

.bg-white {
	background-color: #fff;
}

.form {
	border-radius: 15px;
	padding: 30px 14px 35px;

	&-infront {
		position: absolute;
		width: calc(100% - 30px);
		top: 0;
		left: 15px;
		right: 0;
		transform: translateY(-70%);
	}

	&__input {
		background: transparent;
		border: none;
		font-size: 20px;
		border-bottom: 2px solid;
		padding-bottom: 10px;

		&-dark {
			border-color: #6F92CA;
			color: $blue-light;
		}

		&:focus {
			background: transparent;
		}
	}

	&__select {
		border-color: #6F92CA;
		color: $text-standart;

		option {
			color: #1C4B9B;
		}
	}

	&__checkbox {
		font-size: 20px;
		display: flex;
		align-items: center;
		margin-bottom: 35px;
		input{
			width: 28px;
			height: 28px;
			margin-right: 14px;
		}
	}

	&--dashed{
		border: 2px dashed #F4BA37
	}
}

@media (max-width: 1360px) {
	.form {
		padding: 25px 10px;

		&__title {
			display: inline-block;
			font-size: 25px;
			margin-bottom: 5px;
		}

		&__subtitle {
			font-size: 15px;
		}
	}
}

@media (max-width: 992px) {
	.form {
		&-infront {
			transform: translateY(-10%);
		}
	}
}

@media (max-width: 576px) {
	.form {
		&__title {
			font-size: 22px;
		}
		&__checkbox{
			font-size: 17px;
			input{
				width: 24px;
				height: 24px;
			}
		}
	}
}

.age-text {
	font-family: Balsamiq Sans;
	font-size: 21px;
	margin-bottom: 20px;
	font-weight: 700;
	@media (max-width: 576px){
		font-size: 18px;
	}
}

.section{
	&-title{
		color: $text-standart;
		&-small{
			font-size: 28px;
		}
	}
	&-text{
		font-size: 19px;
		color: $text-standart;
	}
}
@media (max-width: 576px){
	.section{
		&-title{
			&-small{
				font-size: 22px;
			}
		}
	}
}

.slick{
    &-arrow{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: #FFFFFF;
        box-shadow: 0px 2px 10px #CCD1DD;
        font-size: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        &-svg{
            height: 18px;
        }
        &-img{
            stroke: #F4BA37; 
            stroke-width: 3;
			&--white{
				stroke: white;
			}
        }
        &--bottom{
			top: auto;
			bottom: -100px;
		}
        &:hover{
            background: #F4B937;
            box-shadow: 0px 2px 10px rgba(20, 66, 143, 0.3); 
            .slick-arrow-img{
                stroke: #fff;
            } 
        }
		&.teachers-prev{
			&.slick-prev{
				left: auto;
				right: 130px;
			}
		}
		&--big{
			width: 44px;
			height: 44px;
		}
		&--dark{
			background-color: #2E4FAA;
		}
		&--long{
			height: 44px;
			width: 89px;
			border-radius: 50px;
			&.slick-next{
				right: 25px;
				left: auto;
			}
		}
		&--white{
			background-color: #fff;
		}
    }
    &-prev{
        left: 0;
    }
    &-next{
        right: 0;
    }
}

/*end fancybox*/
@import "buttons";
@import "../../node_modules/slick-carousel/slick/slick.scss";
@import '../../node_modules/@fancyapps/fancybox/dist/jquery.fancybox';
@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/advantages';
@import 'blocks/learning';
@import 'blocks/manual';
@import 'blocks/result';
@import 'blocks/teachers';
@import 'blocks/logopedist';
@import 'blocks/rooms';

@import 'blocks/footer';

@media (min-width: 1360px){
	.container{
		max-width: 1360px;
	}
}

.d-grid {
	display: grid !important;
}

input{
	border: none;
	&:focus{
		border: none;
		outline: none;
	}
}
button{
	border: none;
	&:focus{
		border: none;
		outline: none;
	}
}