.header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 5;
    background-color: transparent;
    &.position-fixed{
        background-color: #fff;
        .header__logo{
            max-width: 80px;
            transition: max-width .3s;
        }
        .header__inner{
            padding: 20px 0 15px;
            transition: max-width .3s;
        }
    }
    &__logo{
        margin-top: -10px;
        max-width: 318px;
        max-height: 276px;
        img {
            width: 100%;
        }
    }
    &__inner{
        position: relative;
        padding-top: 20px;
        max-height: 97px;
        width: 100%;
        flex-wrap: nowrap;
        display: flex;
        justify-content: space-between;
    }
    &__content{
        width: 85%;
        display: flex;
        justify-content: space-between;
    }
    &__info{
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
    &__about{
        max-width: 463px;
        line-height: 25px;
    }
    &__callback{
        align-items: center;
        height: 100%;
    }
    &__phone{
        font-size: 21px;
        margin-right: 35px;
    }
}
@media (max-width: 1360px){
    .header{
        &__logo{
            max-width: 136px;
        }
    }
}
@media (max-width: 1200px){
    .header{
        &__logo{
            margin-top: 0;
        }
        &__about{
            display: none;
        }
    }
}
@media (max-width: 768px){
    .header{
        &__logo{
            margin-right: 15px;
        }
        &__btn{
            display: none;
        }
        &__content{
            width: 80%;
            flex-direction: column;
        }
        &__callback{
            justify-content: flex-start;
        }
        &__phone {
            margin-right: 0;
        }
    }
}
@media (max-width: 400px) {
    .header{
        &__logo {
            max-width: 83px;
            margin-left: 5px;
            margin-top: -15px;
        }
        &__phone {
            font-size: 21px;
        }
        &__content{
            margin-top: -10px;
        }
    }
}

.burger{
    display: none;
    width: 29px;
    position: absolute;
    right: 0;
    z-index: 11;
    span{
        display: block;
        height: 3px;
        background-color: $text-standart;
        margin-bottom: 6px;
        transition: transform .3s;
    }
    &--active{
        span{
            background-color: #fff;
            margin-bottom: -2px;
            &:first-child{
                transform: rotate(45deg);
            }
            &:nth-child(2){
                display: none;
            }
            &:last-child{
                transform: rotate(-45deg);
            }
        }
    }
}
@media (max-width: 768px){
    .burger {
        display: inline-block;
    }
}



.text-standart {
    font-size: 19px;
    color: $text-standart;
    letter-spacing: 0;
}
@media (max-width: 1360px){
    .text-standart {
        font-size: 15px;
    }
}

.we-work{
    font-size: 17px;
    margin-left: 33px;
    &:before{
        content: '';
        background-color: $light-green;
        border-radius: 100%;
        width: 14px;
        height: 14px;
        display: inline-block;
        margin-right: 5px;
    }
}
@media (max-width: 1360px){
    .we-work {
        font-size: 15px;
    }   
}
@media (max-width: 992px){
    .we-work {
        margin: 0;
    }   
}
@media (max-width: 400px) {
    .we-work {
        &:before{
            width: 10px;
            height: 10px;
        }
    } 
}


.menu{
    &-mobile{
        display: none;
    }
}
@media (max-width: 768px){
    .menu{
        &-mobile{
            display: block;
            background: url('../img/header/menu-bg.jpg') center/cover;
            top: 0;
            left: 0;
            transform: translateX(-100%);
            transition: transform .3s;
            width: 100vw;
            height: 100vh;
            position: fixed;
            z-index: 10;
            &--active{
                transform: translateX(0);
            }
            &-list{
                list-style: none;
                padding: 61px 0 0;
            }
            &-item{
                padding: 20px;
                font-size: 19px;
                border-bottom: 1px solid #6F92CA;
                &:first-child{
                    border-top: 1px solid #6F92CA;
                }
                &:last-child {
                    border-bottom: none;
                }
            }
            &__link{
                color: #fff;
                font-family: 'Balsamiq Sans';
            }
        }
    } 
}


a{
	&:hover{
		text-decoration: none;
	}
    &:not(.btn):hover{
        color: $bg-yellow;
        text-decoration: none;
    }
}