.learning{
    &__inner{
        padding: 84px 0 119px;
    }
    &__title{
        margin-bottom: 48px;
    }
    &__tabs{
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding-left: 0;
    }
    &__tab{
        background: #FFFFFF;
        border-radius: 50px;
        box-shadow: 0px 4px 35px rgba(213, 213, 213, 0.35);
        padding: 20px 20px;
        margin-bottom: 50px;
        width: calc( 25% - 25px );
        text-align: center;

        font-size: 15px;
        font-weight: 700;
        text-transform: uppercase;

        &--content{
            align-items: center;
        }
    }
    &__aside{
        border-radius: 15px 0px 0px 15px;
        height: 100%;
        ul{
            margin: 0;
            padding: 0;
        }
    }
    &__info{
        background: transparent;
    }
    &__tab{
        &-title{
            color: #fff;
            font-size: 19px;
            padding: 15px 20px;
        }
    }
    &__dropdown{
        background: #2E4FAA;
        &:first-child{
            border-radius: 15px 15px 0 0;
        }
        &:last-child{
            border-radius: 0 0 15px 15px;
        }
        .learning__tab-title{
            display: block;
            position: relative;
            &:after{
                content: '';
                position: absolute;
                width: 16px; 
                height: 10px;
                right: 25px;
                top: 50%;
                transform: translateY(-50%) rotate(0);
                background: url('../icons/arrow-down.png');
                background-position: -10px -10px;
                transition: transform 0.5s;
            }
        }
        &--active{
            background-color: #fff;
            .learning__tab-title{
                color: #1C4B9B;
                &:after{
                    background-position: -46px -10px;
                    transform: translateY(-50%) rotate(180deg);
                }
            }
        }
        p{
            font-size: 15px;
            line-height: 20px;
            margin-bottom: 20px;
        }
    }
}

.tabs{
    &__list{
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding-left: 0;
        margin: 0;
    }
}
.tab{
    border: 3px solid;
    border-color: transparent;
    cursor: pointer;
    white-space: nowrap;
    &--active{
        border-color: #F4BA37;
    }
    &__title{
        font-size: 28px;
        line-height: 39px;
        margin-bottom: 23px;
    }
    &__info{
        font-size: 19px;
        padding: 10px 30px 10px 58px;
        p{
            margin-bottom: 1.5rem;
        }
    }
    &-content{
        display: none;
        padding: 40px;
        padding-left: 60px;
        &--active {
            display: block;
        }
    }
}
.subtab{
    color: #fff;
    padding-left: 0;
    list-style: none;
    font-family: Balsamiq Sans;
    font-weight: bold;
    font-size: 21px;
    padding: 26px 30px;
    border-bottom: 2px solid rgba(246,246,246, 0.2);
    &:last-child{
        border-color: transparent;
    }
    &--active{
        background-color: #F4BA37;
    }
    &-content{
        display: none;
        &--active{
            display: inline-flex;
        }
    }
}
@media (max-width: 1350px){
    .learning{
        &__tab{
            font-size: 12px;
            white-space: normal;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .tab__title{
            font-size: 23px;
            line-height: 30px;
            font-weight: bold;
            margin: 0;
        }
        .learning__info p{
            font-size: 16px;
        }
        .subtab{
            font-size: 16px;
        }
    }
}
@media (max-width: 992px){
    .learning{
        &__img{
            display: none;
        }
        .tab-content{
            margin-top: 25px;
            padding: 0;
        }
        &__tabs{
            flex-wrap: wrap;
        }
        &__tab{
            width: calc( 50% - 25px );
            margin-bottom: 10px;
        }
        .tab__title{
            font-size: 19px;
        }
        &__dropdown{
            .learning__info{
                display: none;
                background-color: #fff;
                color: #1C4B9B;
                padding: 20px 40px 15px 20px;
            }
        }
    }
}
@media (max-width: 480px){
    .learning{
        &__tab{
            width: 48%;
        }
    }
}