.teachers{
    min-height: 946px;
    background: url(../img/teachers/teachers__bg.jpg) no-repeat;
    &__inner{
        padding: 90px 0 100px;
    }
    &__title{
        margin-bottom: 60px;
    }
    &__item{
        max-width: 400px;
        min-height: 582px;
        margin: 0 15px;
        background: #FFFFFF;
        box-shadow: 0px 4px 35px rgba(213, 213, 213, 0.35);
        border-radius: 15px;
        padding: 35px 40px 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        letter-spacing: -0.03em;
    }
    &__image{
        max-width: 246px;
        padding: 30px;
        margin-bottom: 45px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        &::before{
            content: url('../img/teachers/round.png');
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: 1;
        }
        &--withtext{
            &:before{
                content: url('../img/logopedist/round-with-text.png');
                left: -30px;
                top: -25px;
            }
        }
    }
    &__round{
        background-color: #DBDBDB;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    &__star{
        position: absolute;
        width: 69px;
        height: 69px;
        bottom: 0;
        right: 46px;
        z-index: 1;
    }
    &__descr{
        text-align: center;
        font-size: 18px;
    }
    &__name,
    &__experience{
        margin-bottom: 11px;
    }
    &__name,
    &__surname{
        font-family: 'Balsamiq Sans';
        font-size: 26px;
        font-weight: 700;
    }
    &__surname{
        display: block;
    }
}
@media (max-width: 1400px){
    .teachers{
        &__item{
            max-width: 100%;
        }
    }
}
@media (max-width: 992px){
    .teachers{
        min-height: 640px;
        &__descr{
            font-size: 15px;
        }
        &__item{
            min-height: 422px;
            padding: 25px 18px;
        }
        &__image{
            margin-bottom: 15px;
        }
        &__inner{
            padding: 47px 0 82px;
        }
        .slick-arrow--bottom{
            bottom: -80px;
        }
    }
}
@media (max-width: 768px){
    .teachers{
        &__title{
            font-size: 29px;
            margin-bottom: 25px;
        }
        &__name,
        &__surname{
            font-size: 22px;
        }
    }
}